Skip to content

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @font-face {
    src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
      format("woff2");
    font-family: "Meta";
    font-style: normal;
    font-weight: normal;
  }
  
  section {
    height: 100vh;
    width: 100vw;
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: start;
    scroll-behavior: smooth;

  }
  .one {
    display: grid;
    place-items: center;
    background-color: #ffffff;
  }
  .two {
    background-color: #f0a4bf;
    display: grid;

  }

  .container {
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
    width: 100vw;
  }

  
  main {
  
    transition: all 0.5s;
    -webkit-text-stroke: 4px #000000;
    font-variation-settings: "wght" 900, "ital" 1;
    font-size: clamp(110px, 12vw, 250px);
    text-align: center;
    color: transparent;
    font-family: "Meta", sans-serif;
   
  }
  
  main:hover {
    font-variation-settings: "wght" 100, "ital" 0;
    text-shadow: none;
  }
  
  @import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
  }

  .wrapper .button{
    display: inline-block;
    height: 60px;
    width: 60px;
    margin: 5px 5px;
    overflow: hidden;
    background: #fff;
    border-radius: 40px;
    cursor: pointer;
    box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
    transition: all 0.5s ease-out;
  }
  .wrapper .button:hover{
    width: 200px;
  }
  .wrapper .button .icon{
    display: inline-block;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50px;
    box-sizing: border-box;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:nth-child(1):hover .icon{
    background: #118bc4;
  }
  .wrapper .button:nth-child(2):hover .icon{
    background: #1867de;
  }
  .wrapper .button:nth-child(3):hover .icon{
    background: #ef8fb0;
  }
  .wrapper .button:nth-child(4):hover .icon{
    background: #333;
  }
  .wrapper .button:nth-child(5):hover .icon{
    background: #ff0000;
  }
  .wrapper .button .icon i{
    font-size: 25px;
    line-height: 60px;
    transition: all 0.3s ease-out;
  }
  .wrapper .button:hover .icon i{
    color: #fff;
  }
  
  .two h1 {
    font-size: clamp(30px, 5vw, 50px);
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    color: #fff;
  }
  
  .two p {
    font-size: clamp(10px, 2vw, 20px);
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 10px 100px 10px 100px;
  }
  .credit {
    font-family: 'marsden slim medium';  
    font-size: clamp(12px, 1vw, 15px);
    letter-spacing: -1px;
    font-stretch: 50%;
}
  